html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* custom style */

.background-gray {
    background: #f5f5f5;
    padding: 15px;
    border-radius: 3px;
}

.block {
    margin: 15px 0;
}

.create-items {
    position: absolute;
    top: 8px;
    right: 15px;
}

.settings-items,
.create-items {
    color: #101010;
    cursor: pointer;
}

.create-items span {
    display: inline-block;
    padding: 0 10px;
}

.pop-up-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pop-up-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(43, 43, 43, 0.81);
}

.hidden-block {
    display: none;
}

.pop-up-form {
    position: relative;
    margin-top: 30%;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
    color: #333;
}

.sites_site-block {
    height: 220px;
}

.tab-content {
    margin-top: 15px;
}

.operator {
    text-align: center;
    cursor: pointer;
}

.operator-mini {
    padding: 0 10px 0 0;
}

.operator-icon_active {
    color: #5cb85c;
}

.sites_site-block .btn {
    padding: 6px 10px;
}

.site-settings_menu {
    padding: 0;
}

.site-settings_menu li {
    list-style: none;
}
